<footer class="bg-black text-white  pt-6 pb-10 ">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0 md:gap-10   text-[#FFD700]   px-10 items-start">
            
            <div class="flex flex-col flex-1 min-w-[250px]">
        <img src="/assets/images/Agastyaan-removebg.png" alt="logo" class="h-[100px] mt-[5px]  object-contain  mx-auto">  
        <p>“Discover your dream home with Agastyaan Real Estate — where quality meets trust and every space feels like home.”</p>
        <div class="flex gap-4 mt-4 text-lg justify-center ">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-pinterest-p"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        </div>
        
        <!-- <h2 class="flex-1">Agastyaan Real Estate</h2> -->
        <div class="flex flex-col items-center">

       <h2 class="flex-1 max-h-[40px] mt-6 mr-14 mb-2 hidden md:block">Quick Links</h2>
        <ul class="text-sm list-disc pl-5 space-y-2 text-[#FFD700]  hidden md:block ">
            <li>About Us</li>
            <li>Blog & Articles</li>
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>Contact Us</li>
        </ul> </div>
        <div class="hidden md:flex  flex-col  items-center mt-6 ">
        <h2 class=" mb-5 hidden md:block ">Instagram</h2>
        <div class="grid grid-cols-3   gap-2 w-full max-w-[300px] ">
            
            <img src="https://images.unsplash.com/photo-1560185007-c5ca9d2c014d" alt="img_1" class=" w-full aspect-square object-cover">
            <img src="https://images.pexels.com/photos/34887633/pexels-photo-34887633.jpeg" alt="img_2" class="w-full aspect-square object-cover">
            <img src="https://images.pexels.com/photos/17948132/pexels-photo-17948132.jpeg" alt="img_3" class="w-full aspect-square object-cover">
            <img src="https://images.pexels.com/photos/6970069/pexels-photo-6970069.jpeg" alt="img_4" class="w-full aspect-square object-cover">
            <img src="https://images.pexels.com/photos/7031716/pexels-photo-7031716.jpeg" alt="img_5" class="w-full aspect-square object-cover">
            <img src="https://images.pexels.com/photos/30816313/pexels-photo-30816313.jpeg" alt="img_6" class="w-full aspect-square object-cover">
        </div>
        </div>
        <div class="flex flex-col space-y-5 items-center mt-4 md:mt-6">
        <h2 class="flex-1 max-h-[20px]">Contact</h2>
        <div class="flex">
        <i class="fa-solid fa-location-dot text-[#FFD700]    mt-[5px]"></i>
    
        <p class="ml-[15px]">Sco No 23, 2nd Floor, Opposite Nature Huts-3 Gate, Mind Tree School Road, Khanpur, Kharar, Mohali, Punjab, 140301</p></div>
        <div class="flex">
        <i class="fa-solid fa-phone text-[#FFD700]   mt-[5px]"></i>                      
        <p class="pl-[10px]">  +91-6230466249</p>
        </div> 
        <div class="flex">
        <i class="fa-solid fa-envelope text-[#FFD700]    mt-[5px]"></i>
        <p class="pl-[10px]">agastyaantechnology@gmail.com</p>
        </div>
  
        </div>
      
        </div>
                <div class="colspan-1 text-center text-xs text-[#FFD700]  border-t border-yellow-500/20 mt-6 pt-4">
  <p>© 2024 Agastyaan Real Estate. All rights reserved.</p>
</div>
   
    </footer>